<app-header></app-header>
<div class="container">
	<div class="button-container button-container">
		<a [routerLink]="'/create-event'" class="btn btn-secondary">Créer un évenement</a>
	</div>

	<div class="events-container">
		<div class="event" *ngFor="let event of events" (click)="goToEvent(event._id)">
			<div [ngClass]="['event-content', event.status]">
				<div class="image" style="background-image:url('../../../assets/img/event-image.jpg')"></div>
				<div [ngClass]="['status', event.status]" [innerHtml]='event.status == "false" ? "Waiting" : "Approuved"'>
				</div>
				<div class="infos">
					<h3>{{ event.name }}</h3>
					<p>{{ event.date_start | date:'dd/MM/yy - HH:mm' }} </p>
				</div>
			</div>
		</div>
	</div>
</div>
