h3 {
    font-weight: 600;
}

p {
    margin-top: 5px;
    font-size: 10px;
}

.container {
   
}

.button-container {
    text-align: center;
    margin: 20px 0;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    background-color: #F3F3F3;
}

.events-container .event {
    flex: 1 1 50%;
    max-width: 50%;
    margin-top: 20px;
}

.events-container .event .infos {
    width: 100%;
    height: 40%;
    
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #FFFFFF;
}


.events-container .event .event-content {
    width: 150px;
    height: 180px;
    position: relative;
    margin: 0 auto;
    box-shadow: 3px 3px 6px #C6C6C6;
}

.events-container .event .event-content.canceled {
    opacity: 0.7;
}

.events-container .event .status {
    text-align: center;
    padding: 7px 0;
    width: 100%;
    position: absolute;
    top: 50%;
    font-weight: 600;
    font-size: 14px;
}

.events-container .event .image {
    width: 100%;
    height: 60%;

    background-position: no-repeat;
    background-position: center center;
    background-size: cover;
}