<app-header></app-header>
<div class="container">
	<div class="button-container button-container">
		<a [routerLink]="'/login'" class="btn btn-secondary">Créer un évenement</a>
	</div>
	<div class="events-container">
		<div class="event">
			<div class="image" style="background-image:url('../../../assets/img/event-image.jpg')"></div>
			<div class="status waiting">
				Non diffusé
			</div>
			<div class="infos">
				<h3>Workshop I.T</h3>
				<p>23/04/2019 - 19h30</p>
			</div>
		</div>
	</div>
</div>
<!-- <form [formGroup]="form" (submit)="createCurrentEvent()">
	<div>
		<label>Start Date</label>
		<input type="date" name="date_start" formControlName="date_start">
	</div>

	<div>
		<label>Finish Date</label>
		<input type="date" name="date_finish" formControlName="date_finish">
	</div>

	<div>
		<label>Name</label>
		<input type="text" name="name" formControlName="name">
	</div>

	<div>
		<label>Description</label>
		<input type="text" name="description" formControlName="description">
	</div>

	<div>
		<label>Category</label>
		<input type="text" name="category" formControlName="category">
	</div>

	<div>
		<label>Place</label>
		<input type="text" name="place" formControlName="place">
	</div>

	<button type="submit" [disabled]="!form.valid">Create</button>
</form> -->