<app-header></app-header>
<div id="edit-event-container">
  <div class="event-img"></div>
  <div class="event-container">
    <div class="event-dates-container">
      <div class="datepicker-container">
        <mat-form-field class="datepicker-event">
          <input matInput [matDatepicker]="picker1" placeholder="Debut" [value]="date.value">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="datepicker-event">
          <input matInput [matDatepicker]="picker2" placeholder="Fin" [value]="date.value">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="event-info-container">
      <div class="label">Infos</div>
      <div class="infos-container">
        <div>78 rue Compans 75019 PARIS</div>
        <div>01 02 03 04 05 / 06 03 01 03 04</div>
        <div>volumes.info@volumes.fr</div>
      </div>
    </div>

    <div class="event-categorie-container">
      <div class="label">Categorie</div>
      <div class="categorie-container">Workshop</div>
    </div>

    <div class="event-description-container">
      <div class="label">Description</div>
      <div class="description-container">Chocolate bar danish ice cream. Caramels brownie chocolate cake jujubes dragée tootsie roll. Bonbon apple pie
        lemon drops cheesecake croissant cheesecake donut.

        Macaroon chupa chups marzipan toffee soufflé oat cake toffee. Ice cream chupa chups gummi bears candy wafer.
        Marshmallow candy canes sugar plum jelly wafer cake jelly.

        Candy canes bonbon tart chocolate bar biscuit candy. Caramels croissant cotton candy. Topping candy jelly-o
        apple pie gummi bears halvah.</div>
    </div>

    <div class="event-share-button-container">
      <a [routerLink]="'/share'" class="btn share-btn">Diffuser</a>
    </div>
  </div>
</div>