<app-header></app-header>
<div id="event-page-container" *ngFor="let event of currentEvent">
  <div class="event-img"></div>
  <div class="event-container">
    <div [ngClass]="['status', event.status]" [innerHtml]='event.status == "false" ? "Waiting" : "Approuved"'></div>
    <div class="event-name-container">
      <h2>{{ event.name }}</h2>
      <h6>Crée par : Lucas Mendes</h6>
    </div>

    <div class="event-dates-container">
      <div class="label">Dates</div>
      <div class="datepicker-container">
        <mat-form-field class="datepicker-event">
          <input matInput [matDatepicker]="picker1" placeholder="Start date" [value]="event.date_start" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="datepicker-event">
          <input matInput [matDatepicker]="picker2" placeholder="End date" [value]="event.date_finish" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="event-info-container">
      <div class="label">Infos</div>
      <div class="infos-container">
        <div>
          <fa-icon [icon]="faMapMarkerAlt" size="lg"></fa-icon>
          {{ event.place }}
        </div>
        <div>
          <fa-icon [icon]="faPhone" size="lg"></fa-icon>
          {{ event.phone }}
        </div>
        <div>
          <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
          {{ event.mail }}
        </div>
      </div>
    </div>

    <div class="event-links-container" *ngIf="isPendingEvent == false">
      <div class="label">Liens</div>
      <div class="links-container">
        <div class="fb-link" *ngIf="isOnFacebook == true">
          <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
          <a href="#">facebook.com/event-link</a>
        </div>
        <div class="eventbrite-link" *ngIf="isOnEventbrite == true">
          <fa-icon [icon]="faEtsy" size="lg"></fa-icon>
          <a href="#">eventbrite.com/event-link</a>
        </div>
      </div>
    </div>

    <div class="event-categorie-container">
      <div class="label">Categorie</div>
      <div class="categorie-container">{{ event.category }}</div>
    </div>

    <div class="event-description-container">
      <div class="label">Description</div>
      <div class="description-container">{{ event.description }}</div>
    </div>

    <div class="action-btn-container" *ngIf="isPendingEvent == true">
      <div class="event-share-button-container" (click)="cancelEvent(event._id)">
        <a class="btn share-btn">Annuler</a>
      </div>
      <div class="event-share-button-container" (click)="goToSpreadingEvent(event._id)">
        <a [routerLink]="['/spread-event',event._id]" class="btn share-btn">Diffuser</a>
      </div>
    </div>

    <div class="circulated-events-container" *ngIf="isPendingEvent == false">
      <div class="label">Diffusé sur</div>
      <div class="platforms-container">
        <div class="fb-link" *ngIf="isOnFacebook == true">
          <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
        </div>
        <div class="eventbrite-link" *ngIf="isOnEventbrite == true">
          <fa-icon [icon]="faEtsy" size="lg"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>