<app-header></app-header>
<div id="display-event-container">
  <div class="event-img"></div>
  <div class="event-container">
    <div class="event-status" *ngIf="isPendingEvent == true">Non diffusé</div>
    <div class="event-name-container">
      <h2>Shakti Flow Yoga - Happy Hour!</h2>
      <h6>Crée par : Lucas Mendes</h6>
    </div>

    <div class="event-dates-container">
      <div class="label">Dates</div>
      <div class="datepicker-container">
        <mat-form-field class="datepicker-event">
          <input matInput [matDatepicker]="picker1" placeholder="Start date" [value]="date.value" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="datepicker-event">
          <input matInput [matDatepicker]="picker2" placeholder="End date" [value]="date.value" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="event-info-container">
      <div class="label">Infos</div>
      <div class="infos-container">
        <div>
          <fa-icon [icon]="faMapMarkerAlt" size="lg"></fa-icon>
          78 rue Compans 75019 PARIS
        </div>
        <div>
          <fa-icon [icon]="faPhone" size="lg"></fa-icon>
          01 02 03 04 05 / 06 03 01 03 04
        </div>
        <div>
          <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
          volumes.info@volumes.fr
        </div>
      </div>
    </div>

    <div class="event-links-container" *ngIf="isPendingEvent == false">
      <div class="label">Liens</div>
      <div class="links-container">
        <div class="fb-link" *ngIf="isOnFacebook == true">
          <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
          <a href="#">facebook.com/event-link</a>
        </div>
        <div class="eventbrite-link" *ngIf="isOnEventbrite == true">
          <fa-icon [icon]="faEtsy" size="lg"></fa-icon>
          <a href="#">eventbrite.com/event-link</a>
        </div>
      </div>
    </div>

    <div class="event-categorie-container">
      <div class="label">Categorie</div>
      <div class="categorie-container">Workshop</div>
    </div>

    <div class="event-description-container">
      <div class="label">Description</div>
      <div class="description-container">Chocolate bar danish ice cream. Caramels brownie chocolate cake jujubes dragée tootsie roll. Bonbon apple pie
        lemon drops cheesecake croissant cheesecake donut.

        Macaroon chupa chups marzipan toffee soufflé oat cake toffee. Ice cream chupa chups gummi bears candy wafer.
        Marshmallow candy canes sugar plum jelly wafer cake jelly.

        Candy canes bonbon tart chocolate bar biscuit candy. Caramels croissant cotton candy. Topping candy jelly-o
        apple pie gummi bears halvah.</div>
    </div>

    <div class="event-share-button-container" *ngIf="isPendingEvent == true">
      <a [routerLink]="'/share'" class="btn share-btn">Diffuser</a>
    </div>

    <div class="circulated-events-container" *ngIf="isPendingEvent == false">
      <div class="label">Diffusé sur</div>
      <div class="platforms-container">
        <div class="fb-link" *ngIf="isOnFacebook == true">
          <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
        </div>
        <div class="eventbrite-link" *ngIf="isOnEventbrite == true">
          <fa-icon [icon]="faEtsy" size="lg"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>