#display-event-container {
	display: flex;
	flex-direction: column;
}

#display-event-container .event-img {
	width: 100%;
	height: 25vh;
	background: url('../../../assets/img/event.jpg') no-repeat center fixed;
	background-size: cover;
}

#display-event-container .label {
	background-color: #ff0036;
	max-width: 30%;
}

#display-event-container .event-container .event-status {
	background-color: #ffdd00;
	padding: 0.4rem;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 29%;
}

#display-event-container .event-container .event-name-container,
#display-event-container .event-container .event-dates-container,
#display-event-container .event-container .event-info-container,
#display-event-container .event-container .event-links-container,
#display-event-container .event-container .event-categorie-container,
#display-event-container .event-container .event-description-container,
#display-event-container .event-container .event-name-container,
#display-event-container .event-container .event-share-button-container,
#display-event-container .event-container .circulated-events-container {
	padding: 0.5rem;
}

#display-event-container .event-container .event-info-container .infos-container div fa-icon,
#display-event-container .fb-link fa-icon,
#display-event-container .eventbrite-link fa-icon {
	padding: 0.3rem;
}

#display-event-container .event-container .event-dates-container .label,
#display-event-container .event-container .event-dates-container .datepicker-container,
#display-event-container .event-container .event-info-container .label,
#display-event-container .event-container .event-info-container .infos-container,
#display-event-container .event-container .event-links-container .label,
#display-event-container .event-container .event-links-container .links-container,
#display-event-container .event-container .event-categorie-container .label,
#display-event-container .event-container .event-categorie-container .categorie-container,
#display-event-container .event-container .event-description-container .label,
#display-event-container .event-container .event-description-container .description-container,
#display-event-container .event-container .event-name-container .label,
#display-event-container .event-container .event-share-button-container,
#display-event-container .event-container .circulated-events-container .label,
#display-event-container .event-container .circulated-events-container .platforms-container {
	padding: 0.3rem;
}

#display-event-container .event-container .event-dates-container .datepicker-container,
#display-event-container .event-container .event-info-container .infos-container,
#display-event-container .event-container .event-links-container .links-container,
#display-event-container .event-container .event-categorie-container .categorie-container,
#display-event-container .event-container .event-description-container .description-container,
#display-event-container .event-container .event-share-button-container,
#display-event-container .event-container .circulated-events-container .platforms-container {
	margin-top: 0.5rem;
}

#display-event-container .event-container .event-name-container h6 {
	text-align: center;
}

#display-event-container .event-container .event-dates-container {
	display: flex;
	flex-direction: column;
}

#display-event-container .event-container .event-dates-container .datepicker-container {
	display: flex;
}

#display-event-container .event-container .event-dates-container .datepicker-container .datepicker-event {
	padding: 0.5rem;
}

#display-event-container .event-container .event-info-container .infos-container div,
#display-event-container .event-container .event-links-container .links-container .fb-link,
#display-event-container .event-container .event-links-container .links-container .eventbrite-link {
	padding: 0.3rem 0;
}

#display-event-container .event-container .event-share-button-container {
	text-align: center;
}

#display-event-container .event-container .event-share-button-container .share-btn {
	background-color: #252525;
	height: 2.5rem;
	line-height: 3.5;
}

#display-event-container .event-container .circulated-events-container .platforms-container {
	display: flex;
	justify-content: space-evenly;
}
