<!-- <header>
  <h1>Welcome to Volumes Events</h1>
  <nav>
    <a [routerLink]="'/'">Home</a>
    <a [routerLink]="'/signin'">Signin</a>
    <a [routerLink]="'/login'">Login</a>
    <a [routerLink]="'/me'">Me</a>
    <a [routerLink]="'/events'">Events</a>
  </nav>
</header> -->
<header>

    <a href="" class="arrow icon-header active">
      <img src="../../../assets/img/arrow-left.png" alt="">
    </a>

    <h1>Title Header</h1>

    <a href="" class="arrow icon-header active">
        <img src="../../../assets/img/icon-edit.png" alt="">
    </a>
    
</header>