<header>
    <button (click)="backClicked()" class="go-back-header-button" *ngIf="headerService.isBacking">
      <img src="../../../assets/img/arrow-left.png" alt="">
    </button>

    <h1>{{title}}</h1>

    <button class="go-back-header-button" *ngIf="!authService.isLoggedIn()">
      <a [routerLink]="'/login'" class="arrow icon-header active">
        <img src="../../../assets/img/login.png" alt="">
      </a>
    </button>
    <button class="go-back-header-button" (click)="logout()" *ngIf="authService.isLoggedIn() && !headerService.isEditing && !headerService.isSaving">
      <a  class="arrow icon-header active">
        <img src="../../../assets/img/logout.png" alt="">
      </a>
    </button>
    <button class="go-back-header-button" *ngIf="headerService.isEditing">
      <a [routerLink]="'/edit-event'" class="arrow icon-header active">
        <img src="../../../assets/img/icon-edit.png" alt="">
      </a>
    </button>
    <button class="go-back-header-button" *ngIf="headerService.isSaving">
      <a [routerLink]="'/display-event'" class="arrow icon-header active">
        <img src="../../../assets/img/icon-save.png" alt="">
      </a>
    </button>
</header>