header {
	background-color: #252525;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 5px;
}

header h1 {
	margin: auto;
}

header .go-back-header-button {
	background: transparent;
	border: transparent;
}

.icon-header img {
	width: 25px;
}

.display {
	display: none;
}
