<div class="container-login">
    <div class="logo">
        <img src="../../../assets/img/logo.png" alt="">
    </div>
    <div class="content-login">
        <form [formGroup]="form" (submit)="login()">

            <div class="input-container">
                <label>Email</label>
                <input type="email" name="email" formControlName="email">
            </div>

            <div class="input-container">
                <label>Password</label>
                <input type="password" name="password" formControlName="password">
            </div>

            <div class="input-container button-container">
                <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Se connecter</button>
            </div>

            <div class="input-container link">
                <a href="">Mot-de-passe oublié ?</a>
            </div>
            
        </form>
    </div>
    <div class="button-container">
        <a [routerLink]="'/signin'" class="btn btn-secondary">S'inscrire</a>
    </div>
</div>



