.container-login {
    background: url('../../../assets/img/background-login.png') no-repeat top center, #FFFFFF;
    background-size: 100% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    height: 100vh;
}

.input-container {
    margin-top: 20px;
}

.content-login {
    background-color: rgba(240, 240, 240, 0.85);
    width: 80%;
    padding: 30px 20px;
    margin-top: 50px;
    box-shadow: 1px 1px 4px 0px #757575;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.link {
    text-align: right;
}

.link a {
    color: #252525;
}